@using Resources
@{
    ViewBag.Title = "About";
}
 @Styles.Render("~/Content/css")
<div class="container-fluid">
    <div class="page-header">
        <h1>@About.about</h1>
        <p class="lead">@About.lead</p>
    </div>

    <h3>@About.concept</h3>
    <p>@About.concept_paragraph</p>
    
    <p>@About.content</p>

    <h3>EIP</h3>
    <p>@About.eip</p>

</div>